/**
 **
 ** Global Defaults
 **
 **/

body {
  color: black;
  font-family: arial, tahoma, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size:12px;
}

.pointer {
    cursor: hand;
    cursor: pointer;
}

.main-application-panel {
    padding-right: 3px;
}

.header {
    padding: 5px 0 10px 10px;
    background-color: white;
}                                                              

.header-right {
    float: right;
    font-size: 10pt;
    color: #707070 ; /* dark gray */
    text-align: right;
    background: url("galaxy-plugins/images/header_bg.jpg") no-repeat right;
    font-size: 9pt;
    text-align: right;
    height: 65px;
    width: 450px;
}

#header-right li {
  display: inline;
}

.header-right a, .header-right a:visited {
    color: #016c96;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

.header-right-options {
    color: #016c96;
    padding: 0 15px 0 15px;
}
.header-right-options a, .header-right-options a:visited {
    color: #016c96;
    text-decoration: none;
}

.header-right-options a:hover {
    text-decoration: underline;
}

.headerTabPanel {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  color: black;
}

.alert-header-icon {
    background:url("images/tab_alerts_on.gif") no-repeat;
    padding:1px 0 0 17px;
}

.alert-header-right a, .alert-header-right a:visited {
    color: #CC3300;
    text-decoration: none;
    /*font-weight:bold;*/
}

.alert-header-right a:hover {
    text-decoration: underline;
}

.alert-row-unread {
}

.alert-row-unread .x-grid3-cell-inner {
    font-weight: bold;
}

.alert-expanded-text {
    padding-left: 3px;
    font-weight: normal;
}

.x-toolbar-cell .alert-select-all-label {
    font-size: 12px;
    padding-left: 5px;
}

.x-toolbar-cell .alert-select-all-anchor a {
    font-size: 12px;
    padding-left: 5px;
}

.x-toolbar-cell a {
    font-size: 12px;
    padding-left: 5px;
}

.toolbar-button-bar {
   border-bottom-color:#FFF;
   border: none !important;
}

.quickstart-title {
    font-size: 30px;
    color: #336699;
    font-weight: bold;
}

.quickstart-panel {
    background: #FFF;
    padding: 2px;
    width: 80%;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #C0C0C0;
}

.quickstart-panel-header-text {
    display: none;
}

.quickstart-panel .gwt-Label {
    padding: 4px;
}

.dashboard-toolbar-header {
    background: #FFF;
    padding: 2px 5px 0 5px;
    height: 20px;
}

.dashboard-portlet-table {
    padding: 2px 5px 5px 5px;
}

.dashboard-portlet {
    background: #FFF;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C0C0C0;
}

.dashboard-portlet-header {
    padding: 4px 4px 0 4px;
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
}

.server-dashboard-portlet-header {
    font-size: 11px;
    height: 20px;
}

.chart-list-scroller {
    overflow:hidden;
}

.left-menu-view-container {
  padding: 5px 0 2px 2px;
}

.left-menu-view {
  -moz-outline: none;
  -moz-user-focus: normal;
  outline: 0 none;
  padding: 1px;
  background-color: white;
  cursor: default;
  border: 0 !important;
  overflow: hidden;
}

.panel-no-border {
    border: 0 !important;
    border-width: 0 !important;
}

.panel-title {
    color:#336699; /*016c96*/
    padding:5px;
    font-weight:bold;
    font-size:14px;
}

.field-title {
    color:#336699;
    padding:5px;
    font-weight:bold;
    font-size:12px;
    font-family: "sans serif", tahoma, verdana, helvetica;
}

.a-faux-link {
    color: #016c96;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
}

.a-link a {
    color: #016c96;
    text-decoration: none;
}
.a-link a:hover {
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}
.a-big-faux-link {
    font-size: 20px;
}

h2 {
  font-weight: normal;
}

table {
  font-size: 100%;
}

code {
  font-size: small;
}

/*a {
  color: #003366;
}

a:visited {
  color: #003366;
}*/

.unselected-link {
    background-color: white;
    padding: 3px;
}

.selected-link {
    font-weight: bold;
    padding: 3px;
}

.hr {
    border-top: 1px #aaa solid;
    margin-top: 5px;
}

.icon-baseline {
    vertical-align: bottom;
    cursor: pointer;
    cursor: hand;
}

/* Display's tooltips like in Eclipse */
.tooltip .gwt-HTML {
        border: 1px solid #fc0;
        padding: 2px 3px 3px 3px;
        font-size: smaller;
        background-color: #ffc;
}

.pipe-with-space {
    margin: 5px;
    color: #808080;
}

.progress-indicator-message {
  font-family: Arial;
}

.padded-label {
    padding: 5px;
}

.oracle-instructional-text {
    color: lightgray;
    /*padding:px 3px;
    background:repeat-x 0 0;
    border:1px solid;*/
}

.file-contents {
    white-space: pre;
    font-family: monospace;
    font-size: 12px;
}

.clickable {
    cursor: hand;
    cursor: pointer;
}

.grid-ajax-loader {
    background:url("images/grid-ajax-loader.gif") no-repeat;
}
.grid-ajax-loader-msg {
    background:url("images/grid-ajax-loader.gif") no-repeat;
	font-style: italic;
    padding: 2px 2px 2px 20px;
}

.small-ajax-loader {
    background:url("images/small-ajax-loader.gif") no-repeat;
}
.small-ajax-padded-msg {
    background:url("images/small-ajax-loader.gif") no-repeat;
	font-style: italic;
    padding: 2px 2px 2px 20px;
}

.fieldset-divider {
    border-color: #C0C0C0;
    border-width: 1px 1px 0 1px !important;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    padding: 8px 5px 8px 0;
    margin-bottom: 5px;
    display: block;
}

.fieldset-divider-collapsed {
  padding-bottom: 0 !important;
  border-width: 1px 1px 0 1px !important;
  border-left-color: transparent;
  border-right-color: transparent;
}

.x-fieldset legend {
  font: bold 11px tahoma, arial, helvetica, sans-serif;
  color: #336699;
}

/**
 **
 ** The Left Menu
 **
 **/

.clearit {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: px; /*for IE*/
}

.left-menu {
  width: 205px;
}

.x-accordion-hd {
    height: 22px;
}

.tree-container {
    padding-top: 3px;
}

.left-menu-container {
    padding: 0 3px 0 0;
    border-color:white !important;
    border: 0 !important;
}

.left-menu-button a {
    background-color: #D5E1EE;
    font-weight: bold;
    display: block;
    color: black;
    padding: 4px 8px;
    margin: 5px auto;
    width: 125px;
    text-align: center;
}

.left-menu-accordion {
    padding-top: 5px;
}

.workspaces {
    padding: 2px 0 2px 0;
    background-color: white;
}

.workspaces .gwt-TreeItem {
    padding: 2px;
    cursor: pointer;
    cursor: hand;
}

.workspaces .gwt-TreeItem-selected {
    background-color: #D5E1EE;
    font-weight: bold;
}

/**
 **
 ** Generic right side styles
 **
 **/
.title {
    font-weight: bold;
    padding: 4px;
    margin-top: 8px;
    font-size: 13px;
    background-color: white;
}


.artifactVersionHeader {
    font-size: 2em;
    font-weight: bold;
    margin: 8px 0px 8px 0px;
}
 
.right-title-panel {
    margin-top: 8px;
}

.right-title, .rightlinked-title {
    padding: 4px;
    font-weight: bold;
    /* burnt orange */
    /*color: #A35200;*/
}

/* A different right title which allows a link */
.rightlinked-title-panel {
    width: 100%;
    padding: 4px 3px;
    color: black;
    /*background-color: #EEEEEE;
    border: 1px #C0C0C0 solid;
    */
}

.rightlinked-title-link {
    float: right;
    padding: 6px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.base {
    width: 100%;
    margin: 0px;
}

.no-border {
    border-width:0 !important;
}

/**
 **
 ** Toolboxes
 **
 **/

.toolbox {
    width: 100%;
    color: white;
    padding-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.toolbox-body {
    color: black;
    background-color: white;
}

.toolbox-items {
    width: 100%;
}

.toolbox-item-entry {
    padding: 2px 4px 2px 4px;
}

.toolbox-buttons {
    display: inline;
    white-space: nowrap;
}
.toolbox-title {
    display: inline;
    white-space: nowrap;
    padding-right: 5px;
}

.toolbox-title-label {
    display: inline;
}
.toolbox-header {
    font-weight: bold;
      color: black;
      padding: 3px;
}
.toolbox-header-onwhite {
  font-weight: bold;
    background: #333 url("images/nw_maj_rond.gif") no-repeat;
    border-bottom: 1px #333 solid;
    padding: 4px 4px 4px 6px;
}

/* left side artifact filter */

.toolbox .selected-link,
.toolbox .unselected-link {
    font-size: 11px;
    margin-left: 4px;
    padding-left: 4px;
}

.toolbox .selected-link a,
.toolbox .unselected-link a {
    text-decoration: none;
}

.toolbox .unselected-link {
    padding-left: 14px;
}

.toolbox .selected-link {
    background-image: url("images/checkmark.gif");
    background-repeat: no-repeat;
    padding-left: 14px;
}

.loading-panel-indicatior {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loading-panel-indicatior img {
    padding: 140px 0 200px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity:0.4;
    filter:alpha(opacity=40);
}

/**
 **
 ** The Main Panel
 **
 **/

.main-panel {
    background-color: white;
    margin: 9px;
}

.padded-panel {
    padding: 5px;
}
.lt-padded-panel {
    padding: 5px 0 0 5px;
}

.lr-padded-panel {
    padding: 0 5px 0 5px;
}


.bold-right-label {
    font-weight: bold;
    text-align: right;
}

.bold-left-label {
    font-weight: bold;
    text-align: left;
}

.bold-label {
    font-weight: bold;
}
.bold-label-inactive {
    font-weight: bold;
    color: #666666;
}

.normal-label {
    font-weight: normal;
    /*color: #666666;*/
}

.cell-alt {
    color: #000;
    background-color: #F5F5F5
}

.error-panel-wrapper {
    text-align: center;
    display: block;
}

.error-panel {
    background: #ffc;
    border: 1px solid #fc0;
    border-style: dashed;
    padding: 2px;
    width: 80%;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}

.error-panel-header-text {
    display: none;
}

.error-panel .gwt-Label {
    /*padding: 4px 4px 10px 4px; */ /* use with gxt panel */
    padding: 4px;
}

.footer {
    border-top: 1px solid black;
    color: #707070 ; /* dark gray */
    background: #fff url("galaxy-plugins/images/footer_bg.jpg") no-repeat right;
    text-align: right;
    font-size: 11px;
    font-family: arial, tahoma, helvetica, sans-serif;
    height: 50px;
    padding: 1.1em;
}

.footer-viewport {
    margin-top: 0px;
}

.footer .footer-link {
    cursor:pointer;
}

.footer-link a,  footer-link a:visited {
    color: #707070 ; /* dark gray */
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-license-link a,  footer-license-link a:visited {
    color: red;
    font-weight: bold;
    text-decoration: none;
}



/**
 **
 ** Artifact Panel
 **
 **/

.view-ListBox {
    margin-left: 8px;
}

.recent-views {
    padding: 0px 4px 4px 8px;
}

.feed-icon {
    margin-left: 6px;
    cursor: pointer;
    cursor: hand;
}

.artifactToolbarItem {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #C0C0C0;
}

.artifactToolbarItemFirst {
    margin-left: 12px;
    padding-bottom: 2px;
}

.artifact-title-base {
    padding: 6px;
    margin-top: 4px;
}

.artifact-title-base .artifact-path {
    display: block;
    margin-left: 3px;
}

.artifact-title-base .artifact-title {
    vertical-align: middle;
}

.artifact-title-base .artifact-namenul {
    display: inline;
    font-weight: bold;
    font-size: 13px;
    padding-top: 4px;
}

.artifact-title-base .artifact-version {
    display: inline;
}

.artifact-panel-base {
    margin: 0.4em;
}

.artifactTopPanel {
    width: 100%;
}

.spacer {
    margin: 5px;
}


.dependencyPanelHeader {
  font-weight: bold;
  background-color: #C3D9FF;
  border-bottom: 1px black solid;
  padding: 2px;
  width: 100%;
}

.dependencyPanel {
    border: solid #c3d9ff 2px;
    width: 100%;
}

.propertyLink {
    padding-left: 5px;
}

.artifactInfoRightGroup {
    margin-left: 10px;
}

.comments {
    margin-right: 6px;
}

.comment {
    margin-top: 5px;
}

.addComment {
    background-color: #F0FFF0;
    border: 1px solid #C0C0C0;
    padding: 4px;
}

.commentTitle {
    padding: 4px 8px;
}

.commentText {
    padding: 4px;
    margin-left: 25px;
    border-bottom: 1px solid #C0C0C0;
}

.commentTitle .user {
    font-weight: bold;
}

.commentTitle .gwt-Hyperlink {
    text-align: right;
    float:right;
}

.commentTitle a, .commentTitle a:visited {
    color: black;
}

.nestedComment {
    padding-left: 20px;
}

.addComment {
    padding: 10px;
}

.artifactDescriptionLabel {
    font-weight: bold;
}

.columnTable button { margin-top: 0px; }
.columnTable input  { margin-top: 0px; }
.columnTable select { margin-top: 0px; }

.columnTable .artifactTableHeader {
    vertical-align: top;
    text-align: right;
    padding: 4px;
    padding-right: 10px;
    width: 125px;
}

.columnTable .artifactTableEntry {
    vertical-align: top;
    padding: 4px;
}

.artifactTableFull td {
    border-bottom: 1px #e8e8e8 solid;
}

.artifactTableEntry {
    padding: 4px;
}

.artifactTableHeader td {
    padding: 4px;
    background-color: #eee;
    border-top: 0px;
    font-weight: bold;
    border-top: 1px #C0C0C0 solid;
    border-bottom: 1px #C0C0C0 solid;
}

.artifactTable {
    background: white;
}

.artifactTable td {
    padding: 3px;
    vertical-align: top;
}

.artifactTableLock {
    width: 15px;
    padding-top: 1px;
    vertical-align: top;
}

.artifactTableFull td {
    padding: 3px;
}

.artifact-list-container {
    margin-bottom: 20px;
    width: 100%;
}

/* properties */
.add-property-panel {
    background-color: white;
    width: auto;
    vertical-align: top;
}

.add-property-inline {
    vertical-align: top;
    display: inline;
}

.add-property-block {
    vertical-align: top;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.add-property-inline .gwt-Label {
    vertical-align: top;
}

.failure-panel {
    padding: 4px;
}

.listPropertyContainer {
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #ddd;
    background-color: #ccc;
}

.listProperty {
}

.listPropertyLeft {
    margin-right: 3px;
    margin-left: 3px;
}

.listPropertyRight {
    padding-left: 3px;
    padding-right: 3px;
    border-left: 1px solid black;
    vertical-align: top;
}

.listPropertyRightHover {
    padding-left: 3px;
    padding-right: 3px;
    border-left: 1px solid black;
    color: white;
    background-color: black;
    vertical-align: top;
}

.linksPropertyPanel {
    color: #808080;
    background-color: white;
}

/**
 **
 ** History Panel
 **
 **/

.artifact-version-title {
    font-weight: bold;
    padding: 6px;
    color: black;
    background-color: #EEEEEE;
    border: 1px #c0c0c0 solid;
}

.artifact-version-panel {
    margin: 4px;
}

.artifact-version-bottom-panel {
    padding: 4px;
    border-bottom: 1px #c0c0c0 solid;
}

/**
 **
 ** Governance Panel
 **
 **/

.next-phases-panel .gwt-ListBox{
    margin-right: 2px;
}

/**
 ** Activity Panel
 **/
.activity-base-panel {
    background-color: white;
    color: black;
    padding: 10px;
}

.activity-search-panel .gwt-Label {
    padding-right: 6px;
    padding-left: 10px;
    text-align: center;
}

.activity-search-panel-container {
    padding: 6px;
    background-color: #E5EDF5;
    font-weight: bold;
    background-image: url("images/nw_maj_rond.gif");
    background-repeat: no-repeat;
}

.activityTableDate {
    white-space: nowrap;
}

.activity-nav-panel {
    background-color: #ccc;
    padding: 6px;
}

.activity-nav-previous {
}

.activity-nav-next {
    float: right;
}


/**
 **
 ** Bulk Edit Panel
 **
 **/
.bulkedit-panel a {
    background-color: #fff;
    padding: 4px;
}


.bulkedit-toolbar-item-first {
    float: right;
    margin-left: 6px;
    padding-left: 6px;
}

.bulkedit-toolbar-item {
    border-left: 1px solid #ddd;
    float: right;
    margin-left: 6px;
    padding-left: 6px;
}

.bulkedit-section-title {
    margin-left: 6px;
    padding: 2px;
    font-weight: bold;
    color: black;
}

.bulkedit-section-header {
    width: 100%;
    padding: 2px;
    color: black;
    background-color: #EEEEEE;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.bulkedit-section-table {
    padding: 6px;
    margin-left: 6px;
}

/**
 **
 ** Artifact policy failures
 **
 **/
.policy-failure-panel {
    padding: 4px;
}

.policy-result-artifact-panel {
    margin: 4px;
    padding: 4px;
    background-color: #ddd;
}

.policy-result-section-header {
    padding-top: 4px;
    font-weight: bold;
}

.policy-result-warning-label {
    padding-top: 2px;
    padding-bottom: 2px;
}
.policy-result-failure-label {
    padding-top: 2px;
    padding-bottom: 2px;
}

/**
 **
 ** Administration
 **
 **/
.lifecycle-selection-header {
    font-weight: bold;
    padding-top: 4px;
}

.qnameListBox-add-row {
    padding-top: 8px;
}

.adminShell-Tree {
  background: white;
}

.adminShell-Tree .adminShell-TreeItem {
    cursor: hand;
    cursor: pointer;
    background-image: url("images/page_code.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
}

.adminShell-Tree .adminShell-TreeItem-selected {
  background-color: #F5F5D6;
}


/**
 **
 ** Lifecycle
 **
 **/

.lifecycle-form-base {
    margin: 4px;
}
.next-phases {
    font-weight: bold;
}


/**
 ** Sortable grid
 **/


.SortableGrid-header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.SortableGrid-selectedRow {
    background-color: #ddd;
    border: 1px solid #000;
}


/**
 **
 ** Other admin panel styles
 **
 **/
.deleteIndexPanel {
    padding-top: 5px;
    padding-left: 5px;
}




/**
 * Navigation stuff
 */
.headerTabPanelBottom {
  background-color: black;
  width: 100%;
}
.headerTabPanel .gwt-TabBar {
  background-color: black;
  padding-top: 3px;
  /*border-bottom: 2px solid #004A80;*/
}

.headerTabPanel .gwt-TabBar .gwt-TabBarItem {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  cursor: hand;

  color: #E5EDF5;
  font-weight: bold;
  background-color: black;
  border-bottom: 2px solid black;
  margin-right: 2px;
}

.headerTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 5px 10px 5px 10px;
  cursor: default;
  color: white;

  background-color: #004A80;
  border-bottom: 2px solid #004A80;
  margin-right: 2px;
  background-image: url("images/nw_maj_rond_black.gif");
  background-repeat: no-repeat;
}

/* left side menu? */
.headerTabDeckPanel {
    background-color: white;
}


/**
 * Artifact tabs
 */
.artifactTabPanelBottom {
  background-color: white;
  width: 98%;
}

.artifactTabPanel {
    width: 98%;
}

.artifactTabPanel .gwt-TabBar {
  background-color: white;
  padding-top: 3px;
  border-bottom: 2px solid black;
}

.artifactTabPanel .gwt-TabBar .gwt-TabBarItem {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  cursor: hand;
  /* dark gray font */
  color: #808080;
  background-color: white;
  border-bottom: 0;
  margin-right: 2px;
}

.artifactTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: default;
  color: black;

  background-color: #E5EDF5;
  border-bottom: 0;
  margin-right: 2px;
  background-image: url("images/nw_maj_rond.gif");
  background-repeat: no-repeat;
}

.artifactTabDeckPanel {
    background-color: white;
}

.padding {
    margin: 8px;
}

.padding ul {
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: outside;
}

.buttonRow {
    margin: 8px;
    text-align: center;
}

.sessionKilledDialogBox {
    width: 30em;
    border: 2px outset;
    background-color: white;
}


.sessionKilledDialogBox .Caption {
    background-color: #C3D9FF;
    padding: 3px;
    margin: 2px;
    font-weight: bold;
    cursor: default;
}

.smallButton {
  background:#f5f5f5;
  border:1px solid #aaa;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  padding: 2px;
  width: 2em;
  vertical-align: middle;
}

.FailedValidation {
    border: 1px solid #00CD00;
}

.ValidationMessage {
    font-size: 10px;
    text-align: right;
}

.form-label {
    float: left;
    width: 9em;
    text-align: right;
    clear: left;
    margin-right: 15px;
}



/**
Calendar styles
*/
.calendar-view {
  background-color: white;
  width: 100%;
}

.calendar-view .filler-cell {
  color: #bfbfbf;
  padding: 1px;
  cursor: hand;
}

.calendar-view .date-cell {
  padding: 1px;
  cursor:hand;
}

.calendar-view .selected-cell {
  background: #aaccee;
}

.calendar-view .day-title {
  background: #dbe6de;
}

.gwt-DatePicker .calendar-view .highlighted-cell {
  border: 1px solid #eeeeee;
  padding: 0px;
}

.calendar-view .today-cell {
  border: 1px solid black;
  padding: 0px;
}

.gwt-DatePicker .calendar-view .weekend {
  background: #f1f1f1;
}

.calendar-view .disabled-cell {
  color: graytext;
}

/*
Month selector styles
*/
.month-selector {
  background: #dbe6de;
  width: 100%;
  text-align: center;
}

.month-selector td {
  font-weight: bold;
  font-size: 70%;
}

.month-selector .month-label {
  text-align: center;
  background: #dbe6de;
}

.month-selector .month-backward {
  padding-right: 2em;
}

.month-selector .month-forward {
  padding-left: 2em;
}

/****************************
helper styles
******************************/
.log-panel {
  position: relative;
  float: right;
  border: 1px solid black;
  margin-left: 30px;
}

/* date range styles */
.filler {
  width: 30px;
  text-align: center;
}

.icon-page {
  background-image: url(images/text.png) !important;
}

.title-toolbar {
	height: 22px !important;
	padding-top: 1px !important;
	padding-bottom: 1px !important;
	padding-left: 5px !important;
	border-color:#99BBE8;
}
.title-toolbar .xtb-title-text{
	color: rgb(21, 66, 139);
	font-weight:bold;
	font-family:tahoma, arial, verdana, sans-serif;
}


/* GXT Overrides */
.x-panel-body {
    border-color:#d0d0d0;
}
.x-panel-ghost {
    background:#e0e0e0;
}
.x-panel-ghost ul {
    border-color:#b0b0b0;
}
.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #d0d0d0;
}

.x-panel-noborder {
    margin-top:0px;
    border-width: 1px;
}

.x-panel-container-full {
    margin-top:4px;
    margin-bottom:4px;
}

/* override content panel */
.help-panel-inline {
    background: #fff url("images/icon-info.gif") no-repeat top left;
    font-family: arial, tahoma, helvetica, sans-serif !important;
    border-color: white;
    margin: 2px;
    padding: 3px 5px 5px 21px;
    color:black;
}

.help-panel-inline-no-icon {
    font-family: arial, tahoma, helvetica, sans-serif !important;
    border-color: white;
    margin: 2px;
    padding: 3px 5px 5px 3px;
    color:black;
}

/* Main Application Tabs */
/* Nav background */
.x-tab-panel ul.x-tab-strip-top{
    /* background-color:#FFF; */
	background-image: url(images/tabs/tab-strip-bg_blue.gif);
	/* border-bottom-color:#8db2e3; */
    margin-bottom: -1px;
    height: 29px;
}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background-image: url(images/tabs/tabs-sprite.gif);
}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background-image: url(images/tabs/tabs-sprite.gif);
}

/* SUBTABS 1 */
/* Tab Size */
.x-tab-panel-header_sub1 .x-tab-strip span.x-tab-strip-text {
	white-space: nowrap;
	cursor:pointer;
    padding:7px 8px;
}
/* Extends inactive tabs to bottom of strip */
.x-tab-panel-header_sub1 .x-tab-strip-top .x-tab-strip-active .x-tab-right {
    margin-bottom:1px;
}
/* Covers blue bottom of active tab */
.x-tab-panel-header_sub1 .x-tab-strip-top .x-tab-strip-active .x-tab-right span.x-tab-strip-text {
    padding-bottom:7px;
}
.x-tab-panel-header_sub1 .x-tab-panel-header, .x-tab-panel-footer {
	/* background-color: #deecfd;
	border-color:#8db2e3; */
    overflow:hidden;
    zoom:1;
}
/* Border around tabs section */
.x-tab-panel-header_sub1 .x-tab-panel-header, .x-tab-panel-footer {
	/* border-top-color:#99bccf; */
    /* border-color: #fff #fff #c4c4c4 #fff;
    border-width: 0 0 1px 0; */
    padding-left: 5px;
}
/* Nav background */
.x-tab-panel-header_sub1 ul.x-tab-strip-top{
    /* background-color:#FFF; */
	background-image: url(images/tabs/subtabs/tabs-sub1-strip-bg.gif);
    /* margin-bottom: -1px; */
    height: 25px;
}
.x-tab-panel-header_sub1 .x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-header_sub1 .x-tab-panel-footer-plain .x-tab-strip-spacer {
    /* border-color:#8db2e3; */
    /* background-color: #deecfd; */
}
/* Inactive tab */
.x-tab-panel-header_sub1 .x-tab-strip span.x-tab-strip-text {
	font:normal 11px tahoma,arial,helvetica;
	color:#000;
    font-weight:bold;
}
/* Hover Tab */
.x-tab-panel-header_sub1 .x-tab-strip-over span.x-tab-strip-text {
	color:#000;
}
/* Active Tab */
.x-tab-panel-header_sub1 .x-tab-strip-active span.x-tab-strip-text {
	color:#666;
    padding-bottom: -1px;
}
.x-tab-panel-header_sub1 .x-tab-strip-disabled .x-tabs-text {
	color:#aaa;
}
.x-tab-panel-header_sub1 .x-tab-strip-top .x-tab-right, .x-tab-panel-header_sub1 .x-tab-strip-top .x-tab-left, .x-tab-panel-header_sub1 .x-tab-strip-top .x-tab-strip-inner{
	background-image: url(images/tabs/subtabs/tabs-sub1-sprite.gif);
}
/* END SUBTABS 1 */


/* SPECIAL SEARCH FORM */
.x-form-search-field .x-form-field{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding-top:2px;
}
.x-form-search-field .x-form-text, .x-form-search-field textarea.x-form-field{
    background-color:#fff;
    background-image:url(images/form/search-bg.gif);
    /* border-color:#b5b8c8; */
    border-color:#bababa;
    border-width: 1px 0 1px 1px;
}
.x-form-search-field .x-form-select-one {
    background-color:#fff;
    border-color:#b5b8c8;
}
.x-form-search-field .x-form-check-group-label {
    border-bottom: 1px solid #99bbe8;
    color: #15428b;
}
.x-form-search-field .x-editor .x-form-check-wrap {
    background-color:#fff;
}
.x-form-search-field .x-form-field-wrap .x-form-trigger{
    background-image:url(images/form/trigger.gif);
    border-bottom-color:#b5b8c8;
}
.x-form-search-field .x-form-field-wrap .x-form-date-trigger{
    background-image: url(images/form/date-trigger.gif);
}
.x-form-field-wrap .x-form-clear-trigger{
    background-image: url(images/form/search-trigger.gif);
}
.x-form-field-wrap .x-form-search-trigger{
    background-image: url(images/form/search-trigger.gif);
}
/* Search Box border after-click */
.x-form-search-field .x-trigger-wrap-focus .x-form-trigger{
    border-bottom-color:#bababa;
}
.x-form-search-field .x-item-disabled .x-form-trigger-over{
    border-bottom-color:#b5b8c8;
}
.x-form-search-field .x-item-disabled .x-form-trigger-click{
    border-bottom-color:#b5b8c8;
}
/* Search Box border on-click */
.x-form-search-field .x-form-focus, .x-form-search-field textarea.x-form-focus{
	border-color:#bababa;
}
.x-form-search-field .x-form-invalid, .x-form-search-field textarea.x-form-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
	border-color:#c30;
}
.x-form-search-field .ext-safari .x-form-invalid{
	background-color:#fee;
	border-color:#ff7870;
}
.x-form-search-field .x-form-inner-invalid, .x-form-search-field textarea.x-form-inner-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
}
.x-form-search-field .x-form-grow-sizer {
	font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.x-form-search-field .x-form-item label {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}
.x-form-search-field .x-form-invalid-msg {
    color:#c0272b;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    background-image:url(../images/default/shared/warning.gif);
}
.x-form-search-field .x-form-empty-field {
    color:gray;
}
.x-form-search-field .x-small-editor .x-form-field {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}
.x-form-search-field .ext-safari .x-small-editor .x-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}
.x-form-search-field .x-form-invalid-icon {
    background-image:url(../images/default/form/exclamation.gif);
}
.x-form-search-field .x-fieldset {
    border-color:#b5b8c8;
}
.x-form-search-field .x-fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#15428b;
}
.x-form-search-field .x-editor .x-form-check-wrap {
	/* border-color:#7eadd9; */
    border-color:#bababa;
}
/* END SPECIAL SEARCH FORM */


/* Toolbar Buttons */
.toolbar-btn{
	cursor:pointer;
	white-space: nowrap;
}
.toolbar-btn button{
    border:0 none;
    background:transparent;
    padding-left:3px;
    padding-right:3px;
    cursor:pointer;
    margin:0;
    overflow:visible;
    width:auto;
    -moz-outline:0 none;
    outline:0 none;
}
* html .ext-ie .toolbar-btn button {
    width:1px;
}
.ext-ie .x-item-disabled .toolbar-btn-mc img {
	filter: alpha(opacity=60);
}
.ext-gecko .toolbar-btn button,.ext-webkit .toolbar-btn button {
    padding-left:0;
    padding-right:0;
}
.ext-gecko .toolbar-btn button:-moz-focus-inner {
    padding:0;
}
.ext-ie .toolbar-btn button {
    padding-top:2px;
}
.toolbar-btn td {
    padding:0 !important;
}
.toolbar-btn-text {
    cursor:pointer;
	white-space: nowrap;
    padding:0;
    position:relative;
    top:-1px;
    background-color: transparent;
    border-style: none;
    font-family: arial, tahoma, helvetica, sans-serif;
    font-size: 10px;
    color: #016C96;
}
/* Height of toolbar buttons */
.toolbar-btn-noicon .toolbar-btn-small .toolbar-btn-text{
	height: 12px;
    line-height: 10px;
}
.toolbar-btn_left .toolbar-btn_center .toolbar-btn_right .toolbar-btn-noicon .toolbar-btn-small .toolbar-btn-text{
	height: 12px;
}

.toolbar-btn-noicon .toolbar-btn-medium .toolbar-btn-text{
    height: 24px;
}
.toolbar-btn-noicon .toolbar-btn-large .toolbar-btn-text{
    height: 32px;
}
.toolbar-btn-icon .toolbar-btn-text{
    background-position: center;
	background-repeat: no-repeat;
}
.toolbar-btn-icon .toolbar-btn-small .toolbar-btn-text{
	height: 12px;
	width: 16px;
}
.toolbar-btn-icon .toolbar-btn-medium .toolbar-btn-text{
    height: 24px;
	width: 24px;
}
.toolbar-btn-icon .toolbar-btn-large .toolbar-btn-text{
    height: 32px;
	width: 32px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-small-left .toolbar-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:18px;
    height:16px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-medium-left .toolbar-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:26px;
    height:24px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-large-left .toolbar-btn-text{
    background-position: 0 center;
	background-repeat: no-repeat;
    padding-left:34px;
    height:32px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-small-top .toolbar-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:18px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-medium-top .toolbar-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:26px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-large-top .toolbar-btn-text{
    background-position: center 0;
	background-repeat: no-repeat;
    padding-top:34px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-small-right .toolbar-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:18px;
    height:16px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-medium-right .toolbar-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:26px;
    height:24px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-large-right .toolbar-btn-text{
    background-position: right center;
	background-repeat: no-repeat;
    padding-right:34px;
    height:32px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-small-bottom .toolbar-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:18px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-medium-bottom .toolbar-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:26px;
}
.toolbar-btn-text-icon .toolbar-btn-icon-large-bottom .toolbar-btn-text{
    background-position: center bottom;
	background-repeat: no-repeat;
    padding-bottom:34px;
}
.toolbar-btn-tr i, .toolbar-btn-tl i, .toolbar-btn-mr i, .toolbar-btn-ml i, .toolbar-btn-br i, .toolbar-btn-bl i{
	font-size:1px;
    line-height:1px;
    width:3px;
    display:block;
    overflow:hidden;
}
.toolbar-btn-tr i, .toolbar-btn-tl i, .toolbar-btn-br i, .toolbar-btn-bl i{
	height:3px;
}

/* Default Button with Rounded Corners */
.toolbar-btn-tc{
	height:3px;
	background:repeat-x 0 -6px;
}
.toolbar-btn-bc{
	height:3px;
	background:repeat-x 0 -15px;
}
.toolbar-btn-tl{
	width:3px;
	height:3px;
	background:no-repeat 0 0;
}
.toolbar-btn-tr{
	width:3px;
	height:3px;
	background:no-repeat -3px 0;
}
.toolbar-btn-ml{
	width:3px;
	background:no-repeat 0 -24px;
}
.toolbar-btn-mr{
	width:3px;
	background:no-repeat -3px -24px;
}
.toolbar-btn-mc{
	background:repeat-x 0 -1096px;
    vertical-align: middle;
	text-align:center;
	padding:0px;
	cursor:pointer;
	white-space:nowrap;
}
.toolbar-btn-bl{
	width:3px;
	height:3px;
	background:no-repeat 0 -3px;
}
.toolbar-btn-br{
	width:3px;
	height:3px;
	background:no-repeat -3px -3px;
}

/* Left Button */
.toolbar-btn_left .toolbar-btn-tl{
	width:3px;
	height:3px;
	background:no-repeat 0 0;
}
.toolbar-btn_left .toolbar-btn-tr{
	width:3px;
	height:3px;
	background:no-repeat -21px 0;
}
.toolbar-btn_left .toolbar-btn-ml{
	width:3px;
	background:no-repeat 0 -24px;
}
.toolbar-btn_left .toolbar-btn-mr{
	width:3px;
	background:no-repeat -21px -24px;
}
.toolbar-btn_left .toolbar-btn-mc{
	background:repeat-x 0 -1096px;
    vertical-align: middle;
	text-align:center;
	padding:0px;
	cursor:pointer;
	white-space:nowrap;
}
.toolbar-btn_left .toolbar-btn-bl{
	width:3px;
	height:3px;
	background:no-repeat 0 -3px;
}
.toolbar-btn_left .toolbar-btn-br{
	width:3px;
	height:3px;
	background:no-repeat -21px -3px;
}

/* Center/Inner Button */
.toolbar-btn_center .toolbar-btn-tl{
	width:3px;
	height:3px;
	background:no-repeat -18px 0;
}
.toolbar-btn_center .toolbar-btn-tr{
	width:3px;
	height:3px;
	background:no-repeat -21px 0;
}
.toolbar-btn_center .toolbar-btn-ml{
	width:3px;
	background:no-repeat -18px -24px;
}
.toolbar-btn_center .toolbar-btn-mr{
	width:3px;
	background:no-repeat -21px -24px;
}
.toolbar-btn_center .toolbar-btn-mc{
	background:repeat-x 0 -1096px;
    vertical-align: middle;
	text-align:center;
	padding:0px;
	cursor:pointer;
	white-space:nowrap;
}
.toolbar-btn_center .toolbar-btn-bl{
	width:3px;
	height:3px;
	background:no-repeat -18px -3px;
}
.toolbar-btn_center .toolbar-btn-br{
	width:3px;
	height:3px;
	background:no-repeat -21px -3px;
}

/* Right Button */
.toolbar-btn_right .toolbar-btn-tl{
	width:3px;
	height:3px;
	background:no-repeat -18px 0;
}
.toolbar-btn_right .toolbar-btn-tr{
	width:3px;
	height:3px;
	background:no-repeat -3px 0;
}
.toolbar-btn_right .toolbar-btn-ml{
	width:3px;
	background:no-repeat -18px -24px;
}
.toolbar-btn_right .toolbar-btn-mr{
	width:3px;
	background:no-repeat -3px -24px;
}
.toolbar-btn_right .toolbar-btn-mc{
	background:repeat-x 0 -1096px;
    vertical-align: middle;
	text-align:center;
	padding:0px;
	cursor:pointer;
	white-space:nowrap;
}
.toolbar-btn_right .toolbar-btn-bl{
	width:3px;
	height:3px;
	background:no-repeat -18px -3px;
}
.toolbar-btn_right .toolbar-btn-br{
	width:3px;
	height:3px;
	background:no-repeat -3px -3px;
}

.toolbar-btn-disabled *{
	cursor:default !important;
}
/* Space between text and arrow in grid buttons */
.toolbar-btn-mc em.toolbar-btn-arrow {
    display:block;
    background:transparent no-repeat right center;
	padding-right:10px;
}
.toolbar-btn-mc em.toolbar-btn-split {
    display:block;
    background:transparent no-repeat right center;
	padding-right:14px;
}
.toolbar-btn-mc em.toolbar-btn-arrow-bottom {
    display:block;
    background:transparent no-repeat center bottom;
	padding-bottom:14px;
}
.toolbar-btn-mc em.toolbar-btn-split-bottom {
    display:block;
    background:transparent no-repeat center bottom;
	padding-bottom:14px;
}
.toolbar-btn-as-arrow .toolbar-btn-mc em {
    display:block;
    background:transparent;
	padding-bottom:14px;
}
.toolbar-btn-group {
    padding:1px;
}
.toolbar-btn-group-header {
    padding:2px;
    text-align:center;
}
.toolbar-btn-group-tc {
	background: transparent repeat-x 0 0;
	overflow:hidden;
}
.toolbar-btn-group-tl {
	background: transparent no-repeat 0 0;
	padding-left:3px;
    zoom:1;
}
.toolbar-btn-group-tr {
	background: transparent no-repeat right 0;
	zoom:1;
    padding-right:3px;
}
.toolbar-btn-group-bc {
	background: transparent repeat-x 0 bottom;
    zoom:1;
}
.toolbar-btn-group-bc .x-panel-footer {
    zoom:1;
}
.toolbar-btn-group-bl {
	background: transparent no-repeat 0 bottom;
	padding-left:3px;
    zoom:1;
}
.toolbar-btn-group-br {
	background: transparent no-repeat right bottom;
	padding-right:3px;
    zoom:1;
}
.toolbar-btn-group-mc {
    border:0 none;
    padding:1px 0 0 0;
    margin:0;
}
.toolbar-btn-group-mc .toolbar-btn-group-body {
    background:transparent;
    border: 0 none;
}
.toolbar-btn-group-ml {
	background: transparent repeat-y 0 0;
	padding-left:3px;
    zoom:1;
}
.toolbar-btn-group-mr {
	background: transparent repeat-y right 0;
	padding-right:3px;
    zoom:1;
}
.toolbar-btn-group-bc .toolbar-btn-group-footer {
    padding-bottom:6px;
}
.x-panel-nofooter .toolbar-btn-group-bc {
	height:3px;
    font-size:0;
    line-height:0;
}
.toolbar-btn-group-bwrap {
    overflow:hidden;
    zoom:1;
}
.toolbar-btn-group-body {
    overflow:hidden;
    zoom:1;
}
.toolbar-btn-group-notitle .toolbar-btn-group-tc {
	background: transparent repeat-x 0 0;
	overflow:hidden;
    height:2px;
}

 .x-toolbar{
    border-style:solid;
    border-width:0 0 0 0;
    display: block;
	padding:2px;
    background:repeat-x top left;
    position:relative;
    left:0;
    top:0;
    zoom:1;
    overflow:hidden;
}
.x-toolbar .x-item-disabled .toolbar-btn-icon {
    opacity: .35;
    -moz-opacity: .35;
    filter: alpha(opacity=35);
}
.x-toolbar td {
	vertical-align:middle;
}
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
	white-space: nowrap;
}
.x-toolbar .x-item-disabled {
	cursor:default;
	opacity:.6;
	-moz-opacity:.6;
	filter:alpha(opacity=60);
}

.x-toolbar .x-item-disabled *{
	cursor:default;
}

.x-toolbar .x-toolbar-cell {
    vertical-align:middle;
}

/* Default button display */
.toolbar-btn_left .toolbar-btn_center .toolbar-btn_right .x-toolbar .toolbar-btn-tl, .x-toolbar .toolbar-btn-tr, .x-toolbar .toolbar-btn-tc, .x-toolbar .toolbar-btn-ml, .x-toolbar .toolbar-btn-mr,
.x-toolbar .toolbar-btn-mc, .x-toolbar .toolbar-btn-bl, .x-toolbar .toolbar-btn-br, .x-toolbar .toolbar-btn-bc
{
    /* background-position: 500px 500px; */ /*This setting makes buttons invisible */
}
.x-toolbar div.xtb-text{
    padding:2px 2px 0;
    line-height:16px;
    display:block;
}
.x-toolbar .xtb-sep {
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0 2px 0;
	border:0;
}
.x-toolbar .xtb-spacer {
    width:2px;
}

.toolbar-btn{
	font:normal 10px tahoma, verdana, helvetica;
    padding: 0; /* spacing between buttons */
}
.toolbar-btn button{
    font:normal 10px arial,tahoma,verdana,helvetica;
    color:#016c96;
}
.toolbar-btn em {
    font-style:normal;
    font-weight:normal;
}
.toolbar-btn-tl, .toolbar-btn-tr, .toolbar-btn-tc, .toolbar-btn-ml, .toolbar-btn-mr, .toolbar-btn-mc, .toolbar-btn-bl, .toolbar-btn-br, .toolbar-btn-bc{
	background-image:url(images/button/btn-toolbar.gif);
}
.toolbar-btn_left .toolbar-btn-tl, .toolbar-btn_left .toolbar-btn-tr, .toolbar-btn_left .toolbar-btn-tc, .toolbar-btn_left .toolbar-btn-ml, .toolbar-btn_left .toolbar-btn-mr, .toolbar-btn_left .toolbar-btn-mc, .toolbar-btn_left .toolbar-btn-bl, .toolbar-btn_left .toolbar-btn-br, .toolbar-btn_left .toolbar-btn-bc{
	background-image:url(images/button/btn-toolbar.gif);
}
.toolbar-btn_center .toolbar-btn-tl, .toolbar-btn_center .toolbar-btn-tr, .toolbar-btn_center .toolbar-btn-tc, .toolbar-btn_center .toolbar-btn-ml, .toolbar-btn_center .toolbar-btn-mr, .toolbar-btn_center .toolbar-btn-mc, .toolbar-btn_center .toolbar-btn-bl, .toolbar-btn_center .toolbar-btn-br, .toolbar-btn_center .toolbar-btn-bc{
	background-image:url(images/button/btn-toolbar.gif);
}
.toolbar-btn_right .toolbar-btn-tl, .toolbar-btn_right .toolbar-btn-tr, .toolbar-btn_right .toolbar-btn-tc, .toolbar-btn_right .toolbar-btn-ml, .toolbar-btn_right .toolbar-btn-mr, .toolbar-btn_right .toolbar-btn-mc, .toolbar-btn_right .toolbar-btn-bl, .toolbar-btn_right .toolbar-btn-br, .toolbar-btn_right .toolbar-btn-bc{
	background-image:url(images/button/btn-toolbar.gif);
}
.toolbar-btn-click .toolbar-btn-text, .toolbar-btn-menu-active .toolbar-btn-text, .toolbar-btn-pressed .toolbar-btn-text{
    color:#000;
}
.toolbar-btn-disabled *{
	color:gray !important;
}
.toolbar-btn-mc em.toolbar-btn-arrow {
    background-image:url(images/button/arrow.gif);
}
.toolbar-btn-mc em.toolbar-btn-split {
    background-image:url(../images/default/button/s-arrow.gif);
}
.toolbar-btn-over .toolbar-btn-mc em.toolbar-btn-split, .toolbar-btn-click .toolbar-btn-mc em.toolbar-btn-split, .toolbar-btn-menu-active .toolbar-btn-mc em.toolbar-btn-split, .toolbar-btn-pressed .toolbar-btn-mc em.toolbar-btn-split {
    background-image:url(../images/default/button/s-arrow-o.gif);
}
.toolbar-btn-mc em.toolbar-btn-arrow-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}
.toolbar-btn-mc em.toolbar-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b.gif);
}
.toolbar-btn-over .toolbar-btn-mc em.toolbar-btn-split-bottom, .toolbar-btn-click .toolbar-btn-mc em.toolbar-btn-split-bottom, .toolbar-btn-menu-active .toolbar-btn-mc em.toolbar-btn-split-bottom, .toolbar-btn-pressed .toolbar-btn-mc em.toolbar-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-bo.gif);
}
.toolbar-btn-group-header {
    color: #3e6aaa;
}
.toolbar-btn-group-tc {
	background-image: url(../images/default/button/group-tb.gif);
}
.toolbar-btn-group-tl {
	background-image: url(../images/default/button/group-cs.gif);
}
.toolbar-btn-group-tr {
	background-image: url(../images/default/button/group-cs.gif);
}
.toolbar-btn-group-bc {
	background-image: url(../images/default/button/group-tb.gif);
}
.toolbar-btn-group-bl {
	background-image: url(../images/default/button/group-cs.gif);
}
.toolbar-btn-group-br {
	background-image: url(../images/default/button/group-cs.gif);
}
.toolbar-btn-group-ml {
	background-image: url(../images/default/button/group-lr.gif);
}
.toolbar-btn-group-mr {
	background-image: url(../images/default/button/group-lr.gif);
}
.toolbar-btn-group-notitle .toolbar-btn-group-tc {
	background-image: url(../images/default/button/group-tb.gif);
}
.x-toolbar{
	border-color:#a9bfd3;
    /* background-color:#d0def0; */
    background-image:url(images/toolbar/bg.gif);
}
.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label{
    font:normal 10px arial,tahoma, helvetica, sans-serif;
}
.x-toolbar .x-item-disabled {
	color:gray;
}
.x-toolbar .x-item-disabled * {
	color:gray;
}
.x-toolbar .toolbar-btn-mc em.toolbar-btn-split {
    background-image:url(../images/default/button/s-arrow-noline.gif);
}
.x-toolbar .toolbar-btn-over .toolbar-btn-mc em.toolbar-btn-split, .x-toolbar .toolbar-btn-click .toolbar-btn-mc em.toolbar-btn-split,
.x-toolbar .toolbar-btn-menu-active .toolbar-btn-mc em.toolbar-btn-split, .x-toolbar .toolbar-btn-pressed .toolbar-btn-mc em.toolbar-btn-split
{
    background-image:url(../images/default/button/s-arrow-o.gif);
}
.x-toolbar .toolbar-btn-mc em.toolbar-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}
.x-toolbar .toolbar-btn-over .toolbar-btn-mc em.toolbar-btn-split-bottom, .x-toolbar .toolbar-btn-click .toolbar-btn-mc em.toolbar-btn-split-bottom,
.x-toolbar .toolbar-btn-menu-active .toolbar-btn-mc em.toolbar-btn-split-bottom, .x-toolbar .toolbar-btn-pressed .toolbar-btn-mc em.toolbar-btn-split-bottom
{
    background-image:url(../images/default/button/s-arrow-bo.gif);
}