/**
 **
 ** Global Defaults
 **
 **/

body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  background-color: #656565;
}

.header {
    background-image: url("images/img_banner.jpg");
    color: white;
    padding-top: 1px;
}

.header-right {
    float: right;
    padding: 10px;
    text-align: right;
}
.header-right a, .header-right a:visited {
    color: white;
}
.headerTabPanel {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  color: white;
}



h2 {
  font-weight: normal;
}

table {
  font-size: 100%;
}

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.unselected-link {
    background-color: white;
    padding: 3px;
}
    
.selected-link {
    font-weight: bold;
    padding: 3px;
}



/**
 **
 ** The Left Menu
 **
 **/

.left-menu {
    border-right: 1px #aaa solid;
    width: 205px;
}

.clearit {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: px; /*for IE*/
}

.left-menu-container {
    padding: 6px;
}

.left-menu-button a {
    background-color: #ddd;
    font-weight: bold;
    display: block;
    color: black;
    padding: 4px 8px;
    margin: 5px auto;
    width: 125px;
    text-align: center;
}

.workspaces {
    padding: 2px 0px 2px 0px; 
    background-color: white;
}

.workspaces .gwt-TreeItem {
    padding: 2px;
    cursor: pointer;
}

.workspaces .gwt-TreeItem-selected {
    background-color: #e8e8e8;
    font-weight: bold;
}


/**
 **
 ** Top Styles
 **
 **/
 
.top-panel {
     background-color: #656565;
     padding: 5px;
}

.top-panel .gwt-Hyperlink a {
    color: white;
    text-decoration: underline;
    margin-left: 5px;
}

.top-panel .toolbar .gwt-Hyperlink {
    float: right;
    padding-right: 10px;
}
 
.top-panel .column-view,
.top-panel .search-panel {
     margin: 0 auto 5px;
}

/**
 **
 ** Search Panel
 **
 **/

.search-panel {
    padding-top: 1.5em;
    width: 603px;
}

.search-panel .gwt-Hyperlink {
    text-align: left;
    margin-left: 1em;
    padding-bottom: 0.2em;
}

.search-button-panel {
    text-align: right;
    padding: 0.3em 0;
}

.search-button-panel .gwt-Hyperlink {
    float: left;
}

.search-button-panel .gwt-Hyperlink a {
    color: white;
    font-size: 0.9em;
}


/**
 **
 ** Generic right side styles
 **
 **/
.title {
    font-weight: bold;
    padding: 6px;
    margin-top: 4px;
    font-size: 1.5em;
}

.right-title-panel {
    margin-top: 8px;
}

.right-title, .rightlinked-title {
    padding: 6px 0px;
    
    font-family: Helvetica;
    font-size: 1.3em;
}

/* A different right title which allows a link */
.rightlinked-title-panel {
    width: 100%;
    margin: 15px 0 5px;
}

.rightlinked-title-link {
    float: right;
    padding: 6px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}



.base {
    width: 100%;
    margin: 0px;
}


/**
 **
 ** Toolboxes
 **
 **/

.toolbox {
    width: 100%;
    color: white;
    padding-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.toolbox-body {
    color: black;
    background-color: white;
}

.toolbox-items {
    width: 100%;
}

.toolbox-item-entry {
    padding: 2px 4px 2px 4px;
}

.toolbox-buttons {
    display: inline;
    white-space: nowrap;
}
.toolbox-title {
    display: inline;
    white-space: nowrap;
    padding-right: 5px;
}
    
.toolbox-title-label {
    display: inline;
}
.toolbox-header {
    font-weight: bold;
      color: black;
      padding: 3px;
}
.toolbox-header-onwhite {
  font-weight: bold;
  background-color: #333;
  border-bottom: 1px #333 solid;
  padding: 4px;
  padding-left: 6px;
  background-image: url("images/nw_maj_rond.gif");
  background-repeat: no-repeat;
}

.toolbox .selected-link,
.toolbox .unselected-link {
    font-size: 0.9em;
    margin-left: 4px;
    padding-left: 4px;
}

.toolbox .selected-link a,
.toolbox .unselected-link a {
    text-decoration: none;
}

.toolbox .unselected-link {
    border-left: solid 4px transparent;
}

.toolbox .selected-link {
    border-left: solid 4px #bbb;
}


/**
 **
 ** The Main Panel
 **
 **/

.main-panel {
    background-color: white;
    padding-left: 5px;
}
    
.error-panel {
    background: white;
    padding: 10px;
}
   
.error-panel .gwt-Label {
    background: #F5B800;
    padding: 5px;
    
    border-right: #FFD820;
    border-bottom: #FFD820;
    border-top: #D59800;
    border-right: #D59800;
        
    text-align: center;
    background-image: url("images/nw_maj_rond.gif");
    background-repeat: no-repeat;
}

.footer {
    border-top: 1px solid #656565;
    background-color: #330000;
    text-align: right;
    color: white;
    font-family: verdana;
    font-size: .7em;
    padding: 1em;
}

/**
 **
 ** Artifact Panel
 **
 **/
 
.feed-icon {
    margin-left: 6px;
    cursor: pointer;
    cursor: hand;
}

.artifact-title-base {
    padding: 6px;
    margin-top: 4px;
}

.artifact-title-base .artifact-path {
    display: block;
    font-size: 1.1em;
    margin-left: 3px;
}

.artifact-title-base .artifact-title {
    vertical-align: middle;
}

.artifact-title-base .artifact-name {
    display: inline;
    font-weight: bold;
    font-size: 1.4em;
    padding-top: 4px;
}

.artifact-title-base .artifact-version {
    display: inline;
}

.artifact-panel-base {
    margin: 0.4em;
}

.artifactTopPanel {
    width: 100%;
}
.dependencyPanelHeader {
  font-weight: bold;
  background-color: #C3D9FF;
  border-bottom: 1px black solid;
  padding: 2px;
  width: 100%;
}

.dependencyPanel {
    border: solid #c3d9ff 2px;
    width: 100%;
}

.propertyLink {
    padding-left: 5px;
}

.artifactInfoRightGroup {
    margin-left: 10px;  
}

.comments {
    margin-right: 6px;
}

.comment {
    margin-top: 5px;
}
    
.addComment {
    background-color: #ddd;
    border: 1px solid #333;
}

.commentTitle {
    padding: 4px 8px;
    background-color: #e8e8e8;   
}

.commentTitle .user {
    font-weight: bold;
}

.commentTitle .gwt-Hyperlink {
    text-align: right;
    float:right;
}

.commentTitle a, .commentTitle a:visited {
    color: black;
}

.commentText {
    background-color: white;
    padding: 6px;
}

.nestedComment {
    padding-left: 20px;
}

.addComment {
    padding: 10px;
}

.artifactDescriptionLabel {
    font-weight: bold;
}

.columnTable button { margin-top: -2px; }
.columnTable input  { margin-top: -1px; }
.columnTable select { margin-top: -3px; }

.columnTable .artifactTableHeader {
    vertical-align: top;
    text-align: right;
    padding: 4px;
    padding-right: 10px;
    width: 125px;
}

.columnTable .artifactTableEntry {
    vertical-align: top;
    padding: 4px;
}

.artifactTableFull td {
    border-bottom: 1px #e8e8e8 solid;
}

.artifactTableEntry {
    padding: 4px;
}

.artifactTableHeader td {
    padding: 6px;
    background-color: #eee;
    border-top: 0px;
    font-weight: bold;
}

.artifactTable {
    background: white;
}

.artifactTable td {
    padding: 3px;
    vertical-align: top;
}

.artifactTableLock {
    width: 15px;
    padding-top: 1px;
    vertical-align: top;
}

.artifactTableFull td {
    padding: 3px;
}

.artifact-list-container {
    margin-bottom: 20px;
    width: 100%;
}

.add-property-panel {
    background-color: #e8e8e8;
    padding: 4px;
}

.metadata-panel table {
    width: 100%;
}

.failure-panel {
    padding: 4px;
}
/**
 **
 ** History Panel
 **
 **/

.artifact-version-title {
    font-weight: bold;
    font-size: 1.1em;
    background-image: url("images/nw_maj_rond.gif");
    background-repeat: no-repeat;
    padding: 6px;
    color: white;
    background-color: #333;
}

.artifact-version-panel {
    margin: 4px;
}

.artifact-version-bottom-panel {
    padding: 4px;
    border-right: 1px #c0c0c0 solid;
    border-left: 1px #c0c0c0 solid;
    border-bottom: 1px #c0c0c0 solid;
}
                  
/**
 **
 ** Governance Panel
 **
 **/
 
.next-phases-panel .gwt-ListBox{
    margin-right: 2px;
}

/**
 ** Activity Panel
 **/
.activity-base-panel {
    background-color: white;
    color: black;
    padding: 10px;
}

.activity-search-panel .gwt-Label {
    padding-right: 6px;
    padding-left: 10px;
    text-align: center;
}

.activity-search-panel-container {
    padding: 6px;
    background-color: #ccc;
    font-weight: bold;
    background-image: url("images/nw_maj_rond.gif");
    background-repeat: no-repeat;
}

.activityTableDate {
    white-space: nowrap;
}

.activity-nav-panel {
    background-color: #ccc;
    padding: 6px;
}

.activity-nav-previous {
}

.activity-nav-next {
    float: right;
}


.GWTCDatePicker, .GWTCDatePickerCheckout, .GWTCDatePickerCheckin {
  border: 6px solid #4c0000;
  background: white;
  cursor: hand;
}

/**
 **
 ** Artifact policy failures
 **
 **/
.policy-failure-panel {
    padding: 4px;
}

.policy-result-artifact-panel {
    margin: 4px;
    padding: 4px;
    background-color: #ddd;
}

.policy-result-section-header {
    padding-top: 4px;
    font-weight: bold;
}

.policy-result-warning-label {
    padding-top: 2px;
    padding-bottom: 2px;
}
.policy-result-failure-label {
    padding-top: 2px;
    padding-bottom: 2px;
}

                   
/**
 **
 ** Administration
 **
 **/
.lifecycle-phases-label {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
}

.qnameListBox-add-row {
    padding-top: 8px;
}

/**
 **
 ** Lifecycle
 **
 **/

.lifecycle-form-base {
    margin: 4px;
}
.next-phases {
    font-size: 1.1em;
    font-weight: bold;
}

/**
 **
 ** Raw GWT Styles
 **
 **/

.gwt-BorderedPanel {
}

.gwt-Button {
  background:#f5f5f5;
  border:1px solid #aaa;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  padding: 2px;
  margin: 10px;
  width: 6em;
}

.gwt-Button:active {
  border:1px solid #aaa;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

.gwt-Button[disabled] {
  background: #ccc;
  border:1px solid #999;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  color: #888;
}

.gwt-Canvas {
}

.gwt-CheckBox {
}

.gwt-DialogBox {
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.bordered {
    border: solid red 2px;
}

.gwt-FileUpload {
}

.gwt-FlexTable {
    background: white;
}

.gwt-FlexTable-header {
    font-weight: bold;
}

.gwt-Frame {
}

.gwt-HTML {
}

.gwt-Hyperlink {
    cursor: hand;
    cursor: pointer;
}
.hyperlink-NewWindow {
    background: transparent url(images/external.png) no-repeat scroll right center;
    padding-right: 14px;
}

.gwt-Image {
}

.gwt-Label {
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
}

.gwt-TabPanel {
  margin-top: 4px;
  margin-left: 0px;
  width: 100%;
}

.gwt-TabPanelBottom {
  background-color: white;
  width: 100%;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBar .gwt-TabBarFirst {
}

.gwt-TabBar .gwt-TabBarRest {
}

.gwt-TabBar .gwt-TabBarItem {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  cursor: hand;

  background-color: #white;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 5px 10px;
  cursor: default;

  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
  background-image: url("images/nw_maj_rond.gif");
  background-repeat: no-repeat;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-TextBox-readonly {
  color: #888;
}

.gwt-Tree {
  background: white;
}

.gwt-Tree .gwt-TreeItem {
    cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #e8e8e8;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .hsplitter {
  background-color: #C3D9FF;
  cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
}

.gwt-VerticalSplitPanel .splitter {
  background-color: #C3D9FF;
  height: 8px;
  cursor: move;
}

.gwt-SuggestBoxPopup {
  border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
  padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color: #C3D9FF;
  padding: 2px;
}

/**
 * Navigation stuff
 */
.headerTabPanelBottom {
  background-color: white;
  width: 100%;
}
.headerTabPanel .gwt-TabBar {
  background-color: black;
  padding-top: 3px;
  border-bottom: 4px solid #656565;
}

.headerTabPanel .gwt-TabBar .gwt-TabBarItem {
  
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  cursor: hand;

  color: white;
  background-color: black;
  border-bottom: 2px solid black;
  margin-right: 2px;
}

.headerTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 5px 10px 5px 10px;
  cursor: default;
  color: white;
  
  background-color: #656565;
  border-bottom: 2px solid #656565;
  margin-right: 2px;
  background-image: url("images/nw_maj_rond_black.gif");
  background-repeat: no-repeat;
}

.headerTabDeckPanel {
    background-color: white;
}


/**
 * ARtifact tabs
 */
.artifactTabPanelBottom {
  background-color: white;
  width: 100%;
}

.artifactTabPanel {
    width: 100%;
}

.artifactTabPanel .gwt-TabBar {
  background-color: white;
  padding-top: 3px;
  border-bottom: 4px solid #333;
}

.artifactTabPanel .gwt-TabBar .gwt-TabBarItem {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  cursor: hand;

  color: black;
  background-color: white;
  border-bottom: 0;
  margin-right: 2px;
}

.artifactTabPanel .gwt-TabBar .gwt-TabBarItem-selected {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  cursor: default;
  color: white;
  
  background-color: #333;
  border-bottom: 0;
  margin-right: 2px;
  background-image: url("images/nw_maj_rond.gif");
  background-repeat: no-repeat;
}

.artifactTabDeckPanel {
    background-color: white;
}

.padding {
    margin: 8px;
}

.buttonRow {
    margin: 8px;
    text-align: center;
}

.sessionKilledDialogBox {
    width: 30em;
    border: 2px outset;
    background-color: white;
}


.sessionKilledDialogBox .Caption {
    background-color: #C3D9FF;
    padding: 3px;
    margin: 2px;
    font-weight: bold;
    cursor: default;
}
